body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
  user-select: none;
  font-size: 0px;
  width: 900px;
  height: 900px;
  /*display: flex;*/
  border: solid green 1px;
}

.cell {
  user-select: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 9px;
  height: 9px;
  /*border: 1px solid red;*/
  font-size: 5px;
}

.cell:hover {
  border: 1px purple solid;
}

.pencil {
  cursor: url(pensil) -32 32, auto;
}

.eraser {
  cursor: url(eraser.png) -32 32, auto;
}

.colorPicker {
  cursor: url(colorPicker.png) -32 32, auto;
}

.spray {
  cursor: url(spray.png) -32 -32, auto;
}

.active {
  background-color: blue;
}
